# Local build outputs.
/bin/
/wgf
/.release/
/vendor/
.DS_Store

# Debian package build outputs.
*.buildinfo
*.changes
*.deb
*.dsc
debian/files
debian/wg-frag-go/


# Documentation site build output.
/site/
__pycache__/
